:root {
	--red-color: #eb4c4c;
	--white-color: #fff;
	--light-color: #f0f0ff;
	--light2-color: #fafafa;
	--light3-color: #f3fffa;
	--light4-color: #fff0e6;
	--black-color: #000;
	--opensans-regular: 'Open-Sans-Regular';
	--opensans-bold: 'Open-Sans-Bold';
	--opensans-light: 'Open-Sans-Light';
	--ptserif-regular: 'PT-Serif-Regular';
	--ptserif-bold: 'PT-Serif-Bold';
}