.columns-content {
	margin: 0;
	padding: em(100px) 0;
	background-color: var(--light-color);
	width: 100%;
	position: relative;

	@media screen and (max-width: 767px) {
		padding: em(50px) 0;
	}

	.col-area {
		text-align: left;
		margin-bottom: 30px;

		.title-nr {
			font-size: em(18px);
			font-weight: 800px;
			font-family: var(--opensans-bold);
			position: relative;
			text-align: left;
			margin-bottom: em(20px);
			color: var(--black-color);
		}

		p {
			line-height: 25px;
			font-size: em(17px);
			font-family: var(--opensans-regular);
			font-weight: 400;
			color: var(--black-color);
		}
	}
}